@model IssueTracker.Models.Issue

<h2>Issue #@Model.Id</h2>
<dl class="row">
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.Title)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.Title)
    </dd>
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.Description)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.Description)
    </dd>
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.Assignee.Name)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.UserId)
    </dd>
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.CreatedAt)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.CreatedAt)
    </dd>
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.ModifiedAt)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.ModifiedAt)
    </dd>
    <dt class = "col-3">
        @Html.DisplayNameFor(m => m.Status)
    </dt>
    <dd class = "col-9">
        @Html.DisplayFor(m => m.Status)
    </dd>
</dl>