@model Transaction[]

@foreach (var transaction in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => transaction.Date)</td>
        <td>@transaction.Comment</td>
        <td class="text-end">@transaction.Amount</td>
        <td>@transaction.Category.Name</td>
        <td class="text-end">
            <btn class="btn btn-warning edit-transaction" data-transactionid="@transaction.Id">Edit</btn>
            <btn class="btn btn-danger delete-transaction" data-transactionid="@transaction.Id">Delete</btn>
        </td>
    </tr>
}