@model IEnumerable<Issue>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <a asp-controller="Issue" asp-action="Create" class="btn btn-success">New issue</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.Project.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Assignee.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var issue in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Issue" asp-route-id="@issue.Id">@issue.Title</a>
                </td>
                <td>@issue.Project.Name</td>
                <td>@issue.Assignee.Name</td>
                <td>@issue.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>